
body{
  background-image: url("im.png");
  background-size: cover;
  background-repeat: no-repeat;

}
.nav-item active{
  color:orange;
}
h1 , h4{
  color: orange;
  text-align: center;
}
h1{
  margin-top: 50px;
}
h4{
  margin-bottom: 50px;
}
.collapse navbar-collapse{
  text-align: center;
}
#navbarSupportedContent{
  text-align: center;
}




.nav-item, .active{
  color: blue !important;
}
.nav-link:hover{
  color: orange !important;
}
.dropdown-item:hover{
  color: orange !important;
}
.nav-item active{
  color:orange !important;
}
.navbar-brand{
  color:orange !important;
}
.container .position{
  display: flex;
  justify-content: center;
}
#myCarousel{
border-radius: 50%;
clip-path:ellipse(75% 50%);
}
li .logo .f1 h1 h3 p {
  height: 10%;
  width: 10px;
  list-style: none;
  margin: 4px;
}


.thumbnail > img {
  padding-top: 15px;
}
body{
	padding-top:50px;

}
h1{
  text-align: center;
}
button{
  color: white;
}
h3 {
  text-align: center;
}
h4{
  text-align: center;
}
p {
  text-align: center;
}
footer {
    display: flex;
  
    justify-content: center;
    padding: 5px;
    background-color: orange;
    color: #fff;
}


.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h5
{
  position: absolute;
  top: 798px;
  right: 20px;
}